<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061279741807-g6a4hv5q9gomrai1esutsfb04ldhtqjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061279741807-g6a4hv5q9gomrai1esutsfb04ldhtqjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRKs8b23PEOZPXGXG-TFQ4X87tEHIDz4</string>
	<key>GCM_SENDER_ID</key>
	<string>1061279741807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keithfox.securegym</string>
	<key>PROJECT_ID</key>
	<string>gym-95bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-95bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061279741807:ios:800d2c7a7f0c6294a51a9a</string>
	<key>DATABASE_URL</key>
	<string>https://gym-95bdb.firebaseio.com</string>
</dict>
</plist>